.dylproject-logo{
    height:55px;

}

a{
    padding: 0;
    color: #000 !important;
}
nav a:hover {
    color: #aaa !important;
 }
.navbar-color{
     /* background-color: #003562;  */
    background-color: #ddd;
   
}



/* .navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #000;
    border:none;
    color: red;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: red;
    margin-bottom: 5px;
} */