
.main-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: darkblue; */
}

.contacto-area{
    /* background-color: red; */
    width: 50%;
    color:#fff;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 40px;

}

.contacto-renglon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.button-details{
    display: flex;
    flex-direction: row;
}
.contacto-logo{
    height: 60px;
}

.contacto-detalle{
    font-size: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

@media only screen and (max-width: 517px) {
   h1{
       font-size: 30px;
   }
    .contacto-detalle{
        font-size: 20px;
        width: 200px;
        display: flex;
        justify-content: right;
        margin-left: 10px;
    }
    .contacto-detalle{
        font-size: 30px;
        width: 100px;
        display: flex;
        justify-content: right;
        margin-left: 10px;
    }
  
  }

  @media only screen and (max-width: 480px) {
    h1{
        font-size: 46px;
    }

    .contacto-detalle{
        font-size: 30px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 10px;
    }
     .contacto-logo{
        height: 50px;
    }

    .contacto-area{
        /* background-color: red; */
        height: 50vh;
        width: 90%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        padding: 20px;
    
    }

    .contacto-renglon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    
   }